@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Bozhidar Rangelov<br />
    London<br />
    <abbr title="Phone">P:</abbr>
    07479804574
</address>
<p>Check out my other projects</p>
<address>
    <strong>Portfolio:</strong>   <a href="http://bozhidar-rangelov.co.uk" target="_blank">bozhidar-rangelov.co.uk</a><br />
    <strong>Project:</strong> <a href="http://famousfitnessmodels.azurewebsites.net">Famous Fitness odels</a><br />
    <strong>Project:</strong> <a href="http://healthyfoods.azurewebsites.net">Healthy Foods</a>
</address>