@{
    ViewBag.Title = "Home Page";
}


<head>
    <title>Lighting A Ecommerce Category Flat Bootstarp Resposive Website Template | Home :: w3layouts</title>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Custom Theme files -->
    <!--theme style-->
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <script src="js/jquery.min.js"></script>

    <!--//theme style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Wedding Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- start menu -->
    <script src="js/simpleCart.min.js"> </script>
    <!-- start menu -->
    <link href="css/memenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="js/memenu.js"></script>
    <script>$(document).ready(function () { $(".memenu").memenu(); });</script>
    <!-- /start menu -->
</head>
<!--header-->
<script src="js/responsiveslides.min.js"></script>
<script>

    $(function () {
        $("#slider").responsiveSlides({
            auto: true,
            nav: true,
            speed: 500,
            namespace: "callbacks",
            pager: false,
        });
    });
</script>
<!-- Page Content -->
<h1>Computer Parts Information</h1>
<div class="container">
    <div class="row">
        <div class="col-md-3 vertical-menu">
            <a class="button btn btn-primary" href="Cases">Get Satrted</a>
            <p class="lead">Computer Parts</p>
            <div class="list-group">
                <a href="Cases" class="list-group-item">Cases</a>
                <a href="Motherboards" class="list-group-item">Motherboards</a>
                <a href="CPUs" class="list-group-item">Central Processor Units CPUs</a>
                <a href="RAMs" class="list-group-item">Ram Memories</a>
                <a href="SSDs" class="list-group-item">Solid State Drives SSDs</a>
                <a href="HDDs" class="list-group-item">Hard Disk Drives HDDs</a>
                <a href="GPUs" class="list-group-item">Graphics Cards GPUs</a>
                <a href="OpticalDrives" class="list-group-item">Optical Drives</a>
                <a href="Monitors" class="list-group-item">Monitors</a>
                <a href="Peripherals" class="list-group-item">Peripherals</a>
                <hr />
                <div class="container2">
                    <a href="#" class="list-group-item image2" style="text-transform: uppercase"> <img src="https://pbs.twimg.com/profile_images/468811680521007104/E1jOQL2t.png" style="height: 100px; padding-right: 10px" /><b>Check the latest processors</b></a>
                    <div class="overlay">
                        <div class="text"><a href="CPUs" style="color: white">Go To Our Database</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row carousel-holder">
                <div class="col-md-12">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="5"></li>
                        </ol>
                        <div class="carousel-inner col-md-12 col-sm-12">
                            <div class="item active">
                                <img class="slide-image" src="https://i.neoseeker.com/a/ecs_p55h_a/intro.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="https://www.thetechlounge.com/wp-content/uploads/2017/06/pny-cs1311-2-5.png" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="https://images.techhive.com/images/article/2016/05/vengeanceled-100663722-orig.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="http://img12.nnm.me/e/6/c/b/3/1204a7e3bd47db7bdbed8e6c7fe.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="https://www.thetechlounge.com/wp-content/uploads/2017/05/nvidia-geforce-gtx-1070.png" alt="">
                            </div>
                            <div class="item">
                                <img class="slide-image" src="https://i.alza.cz/Foto/ImgGalery/Image/Article/Seagate_fire_cuda.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-lg-4 col-md-12">
                    <div class="thumbnail holder col-md-12 col-sm-12">
                        <img src="http://cdn.mos.cms.futurecdn.net/DKwtAshvHhrDE75pMCzQre-320-80.jpg" alt="">
                        <div class="caption">
                            <h4 class="pull-right"></h4>
                            <h4>
                                <a href="Cases">Cases</a>
                            </h4>
                            <p>Check out some of the coolest desktop cases.</p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right"><b>Cases</b></p>
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-4 col-md-12">
                    <div class="thumbnail holder col-md-12 col-sm-12">
                        <img src="http://www.vanwebhaber.com/upload/kucuk/2017-05-30-intel-i5-i7-ve-i9-un-yer-aldigi-yeni-islemci-ailes.-1592d91f01450e.jpg" alt="">
                        <div class="caption">
                            <h4 class="pull-right"></h4>
                            <h4>
                                <a href="CPUs">CPUs</a>
                            </h4>
                            <p>Check out some of the most powerfull processors.</p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right"><b>CPUs</b></p>
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-4 col-md-12">
                    <div class="thumbnail holder col-md-12 col-sm-12">
                        <img src="https://files.pccasegear.com/images/z77a-gd65_thumb.jpg" alt="">
                        <div class="caption">
                            <h4 class="pull-right"></h4>
                            <h4>
                                <a href="Motherboards">Motherboards</a>
                            </h4>
                            <p>Check out some of the best motherboards.</p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right"><b>Motherboards</b></p>
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-4 col-md-12">
                    <div class="thumbnail holder col-md-12 col-sm-12">
                        <img src="https://www.wiknix.com/wp-content/uploads/2015/11/cyber-monday-ssd-deals-featured-cover.jpg" alt="">
                        <div class="caption">
                            <h4 class="pull-right"></h4>
                            <h4>
                                <a href="SSDs">SSDs</a>
                            </h4>
                            <p>Check out some of the fastest SSDs.</p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right"><b>SSDs</b></p>
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-4 col-md-12">
                    <div class="thumbnail holder col-md-12 col-sm-12">
                        <img src="http://www.nivo.co.za/db/img/00/02/40/tn_16_0000B1DF_0320.jpg" alt="">
                        <div class="caption">
                            <h4 class="pull-right"></h4>
                            <h4>
                                <a href="GPUs">Graphics Cards</a>
                            </h4>
                            <p>Check out some of the best graphics cards for great experience.</p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right"><b>Graphics Cards</b></p>
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-4 col-md-12">
                    <div class="thumbnail holder col-md-12 col-sm-12">
                        <img class="image" src="http://www.altech.bg/files/imagecache/product/products/35410.jpg" alt="">
                        <div class="caption">
                            <h4 class="pull-right"></h4>
                            <h4>
                                <a href="Monitors">Monitors</a>
                            </h4>
                            <p>Check out some of the best monitors on the market.</p>
                        </div>
                        <div class="ratings">
                            <p class="pull-right"><b>Monitors</b></p>
                            <p>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>