<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://computerparts.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>computerparts.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>computerparts</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$computerparts</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="PCPartsEntities1" Order="1" Enabled="False">
          <Destination Path="Data Source=pcparts.database.windows.net;Initial Catalog=ComputerParts;User ID=Bozhidar;Password=MnogoMnogo004;Application Name=EntityFramework" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ComputerParts.Models.PCPartsEntities1, ComputerParts" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="PCPartsEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=pcparts.database.windows.net;Initial Catalog=ComputerParts;User ID=Bozhidar;Password=MnogoMnogo004;Application Name=EntityFramework" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-3NU3P8A\BOZHIDARSQL;Initial Catalog=PCParts;Integrated Security=True;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PCPartsEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.PCPartsDataModel.csdl|res://*/Models.PCPartsDataModel.ssdl|res://*/Models.PCPartsDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-3NU3P8A\BOZHIDARSQL;initial catalog=PCParts;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PCPartsEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.PCPartsDataModel.csdl|res://*/Models.PCPartsDataModel.ssdl|res://*/Models.PCPartsDataModel.msl;provider=System.Data.SqlClient;provider connection string="data source=pcparts.database.windows.net;initial catalog=ComputerParts;user id=Bozhidar;password=MnogoMnogo004;application name=EntityFramework;MultipleActiveResultSets=True;App=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PCPartsEntities1-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.PCPartsDataModel.csdl|res://*/Models.PCPartsDataModel.ssdl|res://*/Models.PCPartsDataModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=pcparts.database.windows.net;Initial Catalog=ComputerParts;User ID=Bozhidar;Password=MnogoMnogo004;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>